body {
  .mdc-dialog {
    z-index: 11;
    &.yt-720 {
      .mdc-dialog__surface {
        width: 720px;
        height: 442px;
        max-width: 100%;
      }
    }
    .mdc-dialog__scrim {
      background-color: $dialog-bg;
    }
    &.dark {
      .mdc-dialog__title,
      .continue {
        background-color: $color-secondary;
        color: white;
      }
      .mdc-dialog__content {
        padding-top: 1em;
        padding-bottom: 0;
      }
    }
    &.video-dialog {
      .mdc-dialog__surface {
        background-color: black;
        border-radius: 6px;
        max-width: 100%;
        .mdc-dialog__content {
          overflow: hidden;
          padding: 0;
          .mdc-dialog__actions {
            background-color: black;
            padding: 0;
            min-height: 34px;
            .mdc-button.close {
              padding: 0;
              min-width: 36px;
              i {
                transition: $default-transition;
                background-color: $color-primary;
                border-radius: 50%;
                color: #fff;
              }
              &:hover i {
                background-color: $color-secondary;
              }
            }
          }
        }
      }
    }
    &.pure-html {
      overflow: hidden;
      .content-block {
        overflow: scroll;
      }
    }
  }
}
