@font-face {
  font-family: 'Myriad Pro';
  src: url('./../fonts/MyriadPro-Light.eot');
  src: url('./../fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/MyriadPro-Light.woff2') format('woff2'),
    url('./../fonts/MyriadPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./../fonts/MyriadPro-Semibold.eot');
  src: url('./../fonts/MyriadPro-Semibold.eot?#iefix')
      format('embedded-opentype'),
    url('./../fonts/MyriadPro-Semibold.woff2') format('woff2'),
    url('./../fonts/MyriadPro-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
