<footer>
  <section class="content pre-footer">
    <div class="mdc-layout-grid container">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <div class="title">Useful Material Design Resources</div>
        <ul>
          <li>
            <a href="https://material.io" target="_blank"
              >Material Design - Official Website</a
            >
          </li>
          <li>
            <a
              href="https://fonts.google.com/icons?selected=Material+Icons"
              target="_blank"
              >Material Icons Library</a
            >
          </li>
          <li>
            <a
              href="https://material.io/components?platform=web"
              target="_blank"
              >Web Components Overview</a
            >
          </li>
          <li>
            <a
              href="https://github.com/material-components/material-components-web/tree/master/packages"
              target="_blank"
              >NPM Components Packages</a
            >
          </li>
        </ul>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <div class="title">UX/UI Design Principles</div>
        <ul>
          <li>
            <a
              href="https://www.smashingmagazine.com/2018/02/comprehensive-guide-ui-design/"
              target="_blank"
              >What is User Interface Design</a
            >
          </li>
          <li>
            <a
              href="https://medium.com/17seven/ui-design-principles-c6e5e63690f0"
              target="_blank"
              >UI Design Principles</a
            >
          </li>
          <li>
            <a
              href="https://material.io/design/introduction#principles"
              target="_blank"
              >Material Design Introduction</a
            >
          </li>
          <li>
            <a
              href="https://www.smashingmagazine.com/2018/01/universal-principles-ux-design/"
              target="_blank"
              >User Experience Design</a
            >
          </li>
        </ul>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <div class="title">Webpack Knowledge Base</div>
        <ul>
          <li>
            <a
              href="https://abhimanyuchauhan-61309.medium.com/webpack-5-9256d45f7b83"
              target="_blank"
              >Webpack 5 - Step by Step</a
            >
          </li>
          <li>
            <a href="https://webpack.js.org/" target="_blank"
              >Webpack - Official Website</a
            >
          </li>
          <li>
            <a
              href="https://webpack.js.org/guides/build-performance/"
              target="_blank"
              >Better Performance</a
            >
          </li>
          <li>
            <a href="https://www.valentinog.com/blog/webpack/" target="_blank"
              >Webpack - Tips and Tricks Guide</a
            >
          </li>
        </ul>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <div class="title">Frontend Development</div>
        <ul>
          <li>
            <a
              href="https://flatironschool.com/blog/what-is-front-end-development"
              target="_blank"
              >What is Frontend Dev?</a
            >
          </li>
          <li>
            <a
              href="https://frontendmasters.com/books/front-end-handbook/2019/"
              target="_blank"
              >Front-end Dev Handbook</a
            >
          </li>
          <li>
            <a
              href="https://isobar-us.github.io/code-standards/"
              target="_blank"
              >Web Dev - Code Standards</a
            >
          </li>
          <li>
            <a
              href="https://github.com/grab/front-end-guide/blob/master/README.md"
              target="_blank"
              >Frontend Detailed Guidelines</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="content copyright">
    <div class="mdc-layout-grid container">
      <div class="footer__left-section">
        <ul class="footer__link-list">
          <li>
            <a
              href="https://github.com/parys-github/material-webpack-boilerplate"
              target="_blank"
              ><img src="../../img/icons/ghub-icon-orange.svg"
            /></a>
          </li>
          <li>
            <button
              class="mdc-button btn-text btn-inline js-open-dialog"
              data-dialog="dialogLicence"
            >
              Terms & Conditions
            </button>
          </li>
          <li>
            <button
              class="mdc-button btn-text btn-inline js-open-dialog"
              data-dialog="dialogLicence"
            >
              Privacy Policy
            </button>
          </li>
        </ul>
      </div>
      <div class="v-spacer"></div>
      <div class="footer__right-section">
        &copy; All Right Reserved - VajraCode&nbsp;
        <script type="text/javascript">
          var year = new Date()
          document.write(year.getFullYear())
        </script>
      </div>
    </div>
  </section>
  <button
    class="mdc-icon-button mdc-elevation--z3"
    type="button"
    id="topBtn"
    title="Go to top"
  >
    <i class="material-icons"> north</i>
  </button>
</footer>
