<div class="gradient"></div>
<div class="content headline">
  <div class="download-source">
    <a
      href="https://github.com/parys-github/material-webpack-boilerplate"
      target="_blank"
      class="mdc-button mdc-button--raised flat sm secondary mdc-ripple-upgraded"
    >
      <i class="material-icons mdc-button__icon" role="button" title="Download">
        file_download</i
      >
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">Source code</span></a
    >
  </div>
  <h3>Modern Frontend Development</h3>
</div>
