<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<!-- Code snippet to speed up Google Fonts Fast rendeering -->
<link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin="anonymous"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap"
  rel="stylesheet"
  as="fetch"
  crossorigin="anonymous"
/>
<!-- End of code snippet for Google Fonts -->
<link rel="icon" href="../../img/icons/favicon-32x32.png" sizes="32x32" />
<link
  rel="icon"
  href="../../img/icons/android-icon-192x192.png"
  sizes="192x192"
/>
<link
  rel="apple-touch-icon-precomposed"
  href="../../img/icons/apple-icon-180x180.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="../../img/icons/apple-icon-180x180.png"
/>
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-HT50M880S8"
></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())

  gtag('config', 'G-HT50M880S8')
</script>
