<section class="content">
  <h1 class="mb-negative">Resources</h1>
</section>
<section class="content resources-lists">
  <div class="mdc-layout-grid container">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <!-- Expansion Panels - Acordions -->
        <h4>Webpack NPM compatible modules</h4>
        <ul
          id="webpackModulesList"
          class="mdc-list mdc-list--two-line custom-list mdc-list--dense mdc-list--avatar-list"
        >
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-webpack"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text"> Webpack CLI </span>
              <span class="mdc-list-item__secondary-text">
                The official CLI of webpack.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://www.npmjs.com/package/webpack-cli"
                target="_blank"
              >
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-babel"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">@babel/core</span>
              <span class="mdc-list-item__secondary-text"
                >Babel is used to convert ECMAScript 2015+ code.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://www.npmjs.com/package/@babel/core"
                target="_blank"
              >
                <button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                  title=""
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-babel-loader"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">babel-loader</span>
              <span class="mdc-list-item__secondary-text"
                >This package allows transpiling JavaScript files using Babel
                and webpack.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://www.npmjs.com/package/babel-loader"
                target="_blank"
              >
                <button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                  title=""
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-webpack"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text"
                >clean-webpack-plugin</span
              >
              <span class="mdc-list-item__secondary-text"
                >A webpack plugin to remove/clean your build folder(s).</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://www.npmjs.com/package/clean-webpack-plugin"
                target="_blank"
              >
                <button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                  title=""
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-npm"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">cross-env</span>
              <span class="mdc-list-item__secondary-text"
                >You can have a single command without worrying about setting or
                using the environment variable properly for the platform.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://www.npmjs.com/package/cross-env" target="_blank">
                <button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                  title=""
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-sass"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Sass</span>
              <span class="mdc-list-item__secondary-text"
                >This package is a distribution of Dart Sass, compiled to pure
                JavaScript with no native code or external dependencies.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://www.npmjs.com/package/sass" target="_blank">
                <button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                  title=""
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-webpack"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text"
                >Mini CSS Extract Plugin</span
              >
              <span class="mdc-list-item__secondary-text"
                >This plugin extracts CSS into separate files. It creates a CSS
                file per JS file which contains CSS.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://www.npmjs.com/package/mini-css-extract-plugin"
                target="_blank"
              >
                <button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                  title=""
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-sass-loader"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Sass Loader</span>
              <span class="mdc-list-item__secondary-text"
                >Loads a Sass/SCSS file and compiles it to CSS.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://www.npmjs.com/package/sass" target="_blank">
                <button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                  title=""
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-webpack"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Style Loader</span>
              <span class="mdc-list-item__secondary-text"
                >Inject CSS into the DOM.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://www.npmjs.com/package/style-loader"
                target="_blank"
              >
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-css-loader"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Css Loader </span>
              <span class="mdc-list-item__secondary-text"
                >The css-loader interprets @import and url() like
                import/require() and will resolve them.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://www.npmjs.com/package/css-loader" target="_blank"
                ><button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-eslint"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Eslint</span>
              <span class="mdc-list-item__secondary-text"
                >ESLint is a tool for identifying and reporting on patterns
                found in ECMAScript/JavaScript code.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="hhttps://www.npmjs.com/package/eslint" target="_blank"
                ><button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-html-loader"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Html Loader</span>
              <span class="mdc-list-item__secondary-text"
                >Exports HTML as string. HTML is minimized when the compiler
                demands.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://www.npmjs.com/package/html-loader"
                target="_blank"
                ><button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-html-webpack-plugin"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text"
                >Html Webpack Plugin</span
              >
              <span class="mdc-list-item__secondary-text"
                >Plugin that simplifies creation of HTML files to serve your
                bundles.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://www.npmjs.com/package/html-webpack-plugin"
                target="_blank"
                ><button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-webpack"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text"
                >Webpack Dev Server</span
              >
              <span class="mdc-list-item__secondary-text"
                >Use webpack with a development server that provides live
                reloading. This should be used for development only.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://www.npmjs.com/package/webpack-dev-server"
                target="_blank"
                ><button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-prettier"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Prettier</span>
              <span class="mdc-list-item__secondary-text"
                >Prettier is an opinionated code formatter.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://www.npmjs.com/package/prettier" target="_blank"
                ><button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-npm"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Accordion</span>
              <span class="mdc-list-item__secondary-text"
                >Silky-smooth accordion widgets with no external
                dependencies.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://www.npmjs.com/package/accordion" target="_blank"
                ><button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-swiper"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Swiper</span>
              <span class="mdc-list-item__secondary-text"
                >Modern free mobile touch slider with hardware accelerated
                transitions and native behavior.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://swiperjs.com" target="_blank"
                ><button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-npm"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Headroom.js</span>
              <span class="mdc-list-item__secondary-text"
                >Headroom.js is a lightweight, high-performance JS widget (with
                no dependencies) that allows you to react to the user's
                scroll.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://www.npmjs.com/package/headroom.js"
                target="_blank"
                ><button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-material-web"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text"
                >Material Components Web
              </span>
              <span class="mdc-list-item__secondary-text"
                >This package contains the master library for Material
                Components Web.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://www.npmjs.com/package/material-components-web"
                target="_blank"
                ><button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-postcss-preset-env"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text"
                >PostCSS Preset Env
              </span>
              <span class="mdc-list-item__secondary-text"
                >PostCSS Preset Env lets you convert modern CSS into something
                most browsers can understand...</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://www.npmjs.com/package/postcss-preset-env"
                target="_blank"
                ><button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                >
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-npm"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Audio.js</span>
              <span class="mdc-list-item__secondary-text"
                >Tjis is a drop-in javascript library that allows &lt;audio&gt;
                tag to be used anywhere.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://www.npmjs.com/package/audiojs" target="_blank"
                ><button
                  data-mdc-ripple-is-unbounded=""
                  class="mdc-icon-button material-icons"
                >
                  link
                </button></a
              >
            </span>
          </li>
        </ul>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 double-list"
      >
        <!-- Material Design Components list block -->
        <h4>Material Design Components</h4>
        <ul
          id="materialComponentsList"
          class="mdc-list mdc-list--two-line custom-list mdc-list--dense mdc-list--avatar-list"
        >
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-google-mdl"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Buttons</span>
              <span class="mdc-list-item__secondary-text"
                >Buttons allow users to take actions, and make choices, with a
                single tap.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://material.io/components/buttons" target="_blank">
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-google-mdl"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Checkboxes</span>
              <span class="mdc-list-item__secondary-text"
                >Checkboxes allow users to select one or more items from a set.
                Checkboxes can turn an option on or off.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://material.io/components/checkboxes"
                target="_blank"
              >
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-google-mdl"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Cards</span>
              <span class="mdc-list-item__secondary-text"
                >Cards contain content and actions about a single subject.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://material.io/components/cards" target="_blank">
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-google-mdl"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Dialogs</span>
              <span class="mdc-list-item__secondary-text"
                >Dialogs inform users about a task and can contain critical
                information, require decisions, or involve multiple tasks.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://material.io/components/dialogs" target="_blank">
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-google-mdl"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Lists</span>
              <span class="mdc-list-item__secondary-text"
                >Lists are continuous, vertical indexes of text or images.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://material.io/components/lists" target="_blank">
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-google-mdl"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Menus</span>
              <span class="mdc-list-item__secondary-text"
                >Menus display a list of choices on temporary surfaces.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://material.io/components/menus" target="_blank">
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-google-mdl"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Navigation drawer</span>
              <span class="mdc-list-item__secondary-text"
                >Navigation drawers provide access to destinations in your
                app.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://material.io/components/navigation-drawer"
                target="_blank"
              >
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-google-mdl"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Radio buttons</span>
              <span class="mdc-list-item__secondary-text"
                >Radio buttons allow users to select one option from a
                set.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://material.io/components/radio-buttons"
                target="_blank"
              >
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-google-mdl"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Sliders</span>
              <span class="mdc-list-item__secondary-text"
                >Sliders allow users to make selections from a range of
                values.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://material.io/components/sliders" target="_blank">
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-google-mdl"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Switches</span>
              <span class="mdc-list-item__secondary-text"
                >Switches toggle the state of a single item on or off.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://material.io/components/switches" target="_blank">
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-google-mdl"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Tabs</span>
              <span class="mdc-list-item__secondary-text"
                >Tabs organize content across different screens, data sets, and
                other interactions.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://material.io/components/tabs" target="_blank">
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-google-mdl"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Text fields</span>
              <span class="mdc-list-item__secondary-text"
                >Text fields let users enter and edit text.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://material.io/components/text-fields/web#using-text-fields"
                target="_blank"
              >
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-google-mdl"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Tooltips</span>
              <span class="mdc-list-item__secondary-text"
                >Tooltips display informative text when users hover over, focus
                on, or tap an element.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://material.io/components/tooltips" target="_blank">
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
        </ul>
        <!-- Photos placeholders list block -->
        <h4 class="small-pt">Text, Photo & Audio Placeholders</h4>
        <ul
          id="placeholdersList"
          class="mdc-list mdc-list--two-line custom-list mdc-list--dense mdc-list--avatar-list"
        >
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-unsplash"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">Unsplash</span>
              <span class="mdc-list-item__secondary-text"
                >Unsplash is the internet’s source of freely-usable
                images.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://unsplash.com" target="_blank">
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-wasai"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">LoremIpsum.io</span>
              <span class="mdc-list-item__secondary-text"
                >Free placeholder image generators.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="https://loremipsum.io/21-of-the-best-placeholder-image-generators/"
                target="_blank"
              >
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-medicine"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text"
                >Wear Medicine Australia</span
              >
              <span class="mdc-list-item__secondary-text"
                >Wear Medicine - premium quality t-shirts with tattoo art,
                Gothic design, Japanese art and more.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://wearmedicine.com.au/" target="_blank">
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-google-mdl"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text"
                >Material Design Components</span
              >
              <span class="mdc-list-item__secondary-text"
                >Material Components are interactive building blocks for
                creating a user interface.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a
                href="Material Components are interactive building blocks for creating a user interface."
                target="_blank"
              >
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-npm"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text"
                >Node Package Manager</span
              >
              <span class="mdc-list-item__secondary-text"
                >The free npm Registry has become the center of JavaScript code
                sharing.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://www.npmjs.com/" target="_blank">
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons">
              <span class="icon-custom ico-music"></span>
            </span>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">The Sound Archive</span>
              <span class="mdc-list-item__secondary-text"
                >Free online library containing a huge database of sounds in
                various formats.</span
              >
            </span>
            <span class="mdc-list-item__meta">
              <a href="https://www.thesoundarchive.com" target="_blank">
                <button class="mdc-icon-button material-icons" title="">
                  link
                </button></a
              >
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
