<section class="hero">
  <div class="gradient"></div>
  <div class="content headline">
    <div class="download-source">
      <a
        href="https://github.com/parys-github/material-webpack-boilerplate"
        target="_blank"
        class="mdc-button mdc-button--raised flat sm secondary mdc-ripple-upgraded"
      >
        <i
          class="material-icons mdc-button__icon"
          role="button"
          title="Download"
        >
          file_download</i
        >
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__label">Source code</span></a
      >
    </div>
    <h3>Modern Frontend Dev</h3>
  </div>
</section>
<section class="content">
  <h1>
    Meterial Design<i
      class="material-icons mdc-button__icon"
      aria-hidden="true"
      role="button"
      title="Play Video"
      >add</i
    >Webpack Boilerplate
  </h1>
  <h6>
    The most frequent question asked by Front-end Developers in 2020 was:
    <i
      >"... how to correctly integrate Google Material Desig Components with the
      latest Webpack bundler?"</i
    >
    Developers who were looking for an answer to this question focused mainly on
    avoiding implementing additional JS Framework such as AngularJS, React.js or
    Vue.js.
  </h6>
  <h6>
    That specific boilerplate version is intended for developers who need a
    simple and stable boilerplate with initially implemented components allows
    for quick creation of a modern project bsed on pure JavaScript, without
    heavy and unnecessary libraries supported that significantly slow down
    development process and cousing various frustraiting issues with compiling
    production package.
  </h6>
  <div class="info">
    <h6>
      If you have to quickly build a project that is fully compatible with all
      modern browsers and works properly on most popular mobile devices, this
      boilerplate (starter) will be definitely huge help.
    </h6>
  </div>
  <h6>
    All files are initially configure and in the project structure you will find
    the template with basic <a href="./examples">examples</a> of the Material
    Design components and detailed list of all implemented
    <a href="./resources">modules</a>. Visit the
    <a
      href="https://github.com/parys-github/material-webpack-boilerplate"
      target="_blank"
      >GitHub</a
    >
    website, clone the repository and feel free to implement your own custom
    project.
  </h6>
</section>
<section class="content default-cards cards">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <!-- 1st card block -->
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <div class="card">
          <div
            class="mdc-card__primary-action card__primary-action mdc-ripple-upgraded"
            tabindex="0"
          >
            <div class="mdc-card__media no-greyscale">
              <img src="./../../img/hero-webpack.jpg" alt="Webpack 5" />
            </div>
            <div class="mdc-card-wrapper__text-section">
              <div class="primary-title">
                <div class="primary-text">
                  Webpack<span class="npm-ver float-right">
                    <img
                      src="./../../img/npm-webpack-v5-36.svg"
                      alt="Webpack Version"
                    />
                  </span>
                </div>
                <div class="secondary-text">Module Bundler</div>
              </div>
            </div>
            <div class="supporting-text">
              Webpack is a tool that lets you compile JavaScript modules, also
              known as module bundler. Given a large number of files, it
              generates a single file (or a few files) that run your app. It can
              perform many operations: helps you bundle your resources.
              <br /><br />
              Webpack is a module bundler. It takes disparate dependencies,
              creates modules for them and bundles the entire network up into
              manageable output files.
            </div>
            <div class="actions">
              <div class="action-buttons">
                <a
                  href="https://webpack.js.org/"
                  target="_blank"
                  class="mdc-button mdc-button--raised flat lg mdc-ripple-upgraded"
                >
                  <span class="mdc-button__ripple"></span>
                  <span class="mdc-button__label">Webpack Docs</span></a
                >
              </div>
              <div class="action-icons float-right">
                <i
                  class="material-icons action-icon"
                  role="button"
                  title="Share"
                  >share</i
                >
                <i
                  class="material-icons action-icon"
                  role="button"
                  title="More options"
                  >more_vert</i
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 2nd card block -->
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <div class="card">
          <div
            class="mdc-card__primary-action card__primary-action mdc-ripple-upgraded"
            tabindex="0"
          >
            <div class="mdc-card__media no-greyscale">
              <img src="./../../img/hero-material.jpg" alt="Material Design" />
            </div>
            <div class="mdc-card-wrapper__text-section">
              <div class="primary-title">
                <div class="primary-text">
                  Material Design<span class="npm-ver float-right">
                    <img
                      src="./../../img/npm-material-v10.svg"
                      alt="Webpack Version"
                    />
                  </span>
                </div>
                <div class="secondary-text">
                  UI Standards for Web and App designers
                </div>
              </div>
            </div>
            <div class="supporting-text">
              Material is a design system created by Google to help teams build
              high-quality digital experiences for Android, iOS, Flutter, and
              the web projects.<br /><br />
              Material Components are interactive building blocks for creating a
              user interface, and include a built-in states system to
              communicate focus, selection, activation, error, hover, press,
              drag, and disabled states. Component libraries are available for
              Android, iOS, Flutter, and the web.
            </div>
            <div class="actions">
              <div class="action-buttons">
                <a
                  href="https://material.io/design/introduction"
                  class="mdc-button mdc-button--raised flat lg mdc-ripple-upgraded"
                  target="_blank"
                >
                  <span class="mdc-button__ripple"></span>
                  <span class="mdc-button__label">Material Design Docs</span></a
                >
              </div>
              <div class="action-icons float-right">
                <i
                  class="material-icons action-icon"
                  role="button"
                  title="Share"
                  >share</i
                >
                <i
                  class="material-icons action-icon"
                  role="button"
                  title="More options"
                  >more_vert</i
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
